<p> Pagina de Home - ECOMERCE FREE</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Mostrar Log In
        </a>
    </li>

    <li>
        <a routerLink="/auth/registro">
            Mostrar pantalla de registro
        </a>
    </li>

    <li>
        <a routerLink="/productos/listado">
            Mostrar pantalla de listado de productos
        </a>
    </li>

    <li>
        <a routerLink="/productos/detalleproducto">
            Mostrar patalla para detalle de producto
        </a>
    </li>

</ul>




