<h1>
    Pantalla del componenete de listado
</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">    
    <div 
        *ngFor="let valor of productos; let i">       
        <app-produto-tajeta [producto]="valor" > </app-produto-tajeta>

    </div> 
</div>






<!-- <div fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="20px">
    <div fxFlex="20" 

        fxFlex.lg="15"
        fxFlex.sm="30"
        *ngFor="let valor of productos; let i">       
        <app-produto-tajeta [producto]="valor" > </app-produto-tajeta>

    </div>    

</div>
 -->
